.jumbotron {
    background-color: #FFDDE2;
    text-align: center;
    color: #FF8CC6;
}
body {
    background-color: #EDEDEA;
}

img {
    max-height: 150px;
}

form,
.btn {
    background-color: #ED6A5A;
    color: #EDEDEA;
}

form {
    padding: 10px;
}

h3 {
    text-align: center;
}

/* input {
    align-content: center;
    align-items: center;
} */

#newAnime {
    color: #EDEDEA;
}

.rating-css {
    color: #414140;
    text-align: left;
    font-size: 12px;
}

#add-anime {
    background-color: #EDEDEA;
    color: #414140;
    border: none;
}

input {
    margin: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#buttons-display {
    margin: 10px;
}

.animeBtn {
    padding: 6px;
    margin: 5px;
    background-color: #ED6A5A;
    color: #EDEDEA;
}